/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.full {
    background: url(../img/background-3.jpg) no-repeat center center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
    height: 100%;
}

#wrapper {
    opacity: 0.9;
    background: #414147;
    height: 100%;
}

#header {
    min-height:1px;
    height:6%;
    margin: 0;
    padding: 0;
}

#main {
    overflow: scroll;
    height:88%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
}

#footer {
    height:6%;
    margin: 0;
    padding: 0;
}

#video-box {
    float: right;
}

#playlist-entry, #recommendations-entry {
    display: table;
    width: 100%;
}

#playlist-entry p, #recommendations-entry p, #recommendations-entry img {
    cursor: pointer;
}

#playlist-entry p:hover, #recommendations-entry p:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}

#playlist-albumart, #recommendation-albumart {
    width: 75px;
}

#playing-icon {
    height: 65px;
    width: 100%;
}

#songinfo-top {
    display: flex;
    align-items: flex-start;
}

#songinfo-bottom {
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 35px;
    height: 35px;
    float: right;
}

.avatar {
    width: 30px;
    height: 30px;
}

#welcome {
    height: 200px;
    width: 100%;
    margin-top: 500px;
}

.welcome-text {
    font-size: 50px;
    color: white;
    font-family: 'Arizonia', cursive;
}

#song-name {
    color: white;
    font-size: 12px;
}

#timer {
    color: #D8D9EA;
    font-size: 10px;
}

.videoid {
    display: none;
}

.highlighted {
    background: yellow;
}

.tcenter {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}


/* for validator */

a:link {
    text-decoration: none;
}

.progress {
    height: 5px;
    padding: 0px;
}

#controls {
    background: #698A88;
}

#albumart {
    height: 50px;
    width: 50px;
    padding: 0px;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

button:focus {
    outline: 0 !important;
}

.list-group {
    margin: 0;
}

.list-group-item p {
    font-size: 10px;
}

.list-group-item button {
    background: none;
    border: none;
    width: 10px;
}

.glyphicon-heart {
    color: red;
}