/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.full {
    background: url(../img/background-3.jpg) no-repeat center center;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
}

#wrapper {
    padding: 0px;
    height: 750px;
    opacity: 0.9;
    background: #414147;
}

.navbar {
    margin: 0px;
}

#header, #main, #footer {
    max-height: 100%;
    max-width: 100%;
    opacity: 1.0;
}

#header {
    background: white;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 1px solid black;
}

#main {}

#coming-up {
    overflow: auto;
    border: 1px solid black;
    padding: 20px 30px;
    display: table;
    height: 400px;
}

#now-playing {
    border-left: 1px solid black;
    padding: 20px 30px;
    background: #414147;
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#video-box {
    float: right;
}

#playing-icon {
    height: 65px;
    width: 100%;
}

#songinfo-top {
    display: flex;
    align-items: flex-start;
}

#songinfo-bottom {
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 35px;
    height: 35px;
    float: right;
}

.avatar {
    width: 30px;
    height: 30px;
}

#welcome {
    height: 200px;
    width: 100%;
    margin-top: 500px;
}

.welcome-text {
    font-size: 50px;
    color: white;
    font-family: 'Arizonia', cursive;
}

#song-name {
    color: white;
    font-size: 12px;
    margin-top: 8px;
}

#timer {
    color: #D8D9EA;
    font-size: 10px;
    margin-top: 21%;
}

.videoid {
    display: none;
}

.highlighted {
    background: yellow;
}

.tcenter {
    padding: 5px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}


/* for validator */

a:link {
    text-decoration: none;
}

.progress {
    height: 5px;
    padding: 0px;
}

#controls {
    background: #698A88;
}

#albumart {
    height: 50px;
    width: 50px;
    padding: 0px;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

button:focus {
    outline: 0 !important;
}

.list-group-item {
    height: 30px;
    padding: 4px;
}

.list-group-item p {
    font-size: 10px;
}

.list-group-item button {
    background: none;
    border: none;
    width: 10px;
}

.glyphicon-heart {
    color: red;
}